.site-header {
  @apply fixed bg-white w-full py-4 lg:py-6 lg:top-0 z-[100] lg:relative lg:bg-transparent;
}

.site-nav-toggler {
  @apply flex items-center gap-4 text-lg font-bold uppercase lg:hidden;

  .icon-close {
    @apply hidden;
  }

  &.is-open {
    .icon-menu {
      @apply hidden;
    }
    .icon-close {
      @apply block;
    }
  }
}

.site-nav {
  @apply flex flex-row items-center justify-end flex-1 gap-4;

  & > ul {
    @apply flex items-center w-full lg:w-auto;
    @apply bg-white rounded-full lg:px-4 lg:flex lg:flex-row lg:justify-end;
    @apply text-2xl font-semibold lg:text-xl;
  }
}

.site-nav > ul > li {
  @apply relative;
}

.site-nav > ul > li > a {
  @apply no-underline;
  @apply flex items-center gap-2 py-4 lg:p-3;
}

.site-nav a:not(.button):hover {
  @apply text-purple underline;
}

.site-nav-menu {
  @apply flex-col hidden gap-6 px-4 py-2 mt-2 border-l-4 border-purple lg:absolute lg:top-full lg:border-4 lg:bg-white lg:left-1/2 lg:translate-x-[-50%] lg:w-[26ch] lg:p-6 rounded font-medium;
}

/* JS Specific and interactive styles */
@media (max-width: theme('screens.lg')) {
  #SiteBody.mobile-nav-open #SiteMain,
  #SiteBody.mobile-nav-open #SiteHero,
  #SiteBody.mobile-nav-open #SiteFooter {
    @apply hidden;
  }

  #SiteHeader.is-open {
    @apply h-screen bg-white;
  }

  /* #SiteNav */
  .site-nav.is-open {
    @apply flex flex-col items-start bg-white;

    & > ul {
      @apply flex-col items-start py-6 rounded-none bg-white;

      & > li {
        @apply w-full lg:w-auto;
      }
    }
  }

  #SiteNav.is-closed {
    @apply hidden;
  }
}

[data-menu-trigger] {
  @apply relative;
}

[data-menu-trigger]::after {
  @apply block w-4 h-3;
  @apply bg-purple;

  mask: url('/assets/img/theme/icons/Triangle.svg');
  mask-size: cover;
  mask-repeat: no-repeat;

  @apply relative rotate-180;

  content: '';
}

.site-nav [aria-expanded="true"]::after {
  @apply rotate-0;
}
